# Entorno
NODE_ENV=development

# Puerto
PORT=3001

# Base de datos MongoDB
MONGODB_URI=mongodb://localhost:27017/diccionario-procedimientos

# JWT Secret (cambiar en producción)
JWT_SECRET=tu_secret_jwt_super_seguro_aqui

# Cloudinary
CLOUDINARY_CLOUD_NAME=deb471c7g
CLOUDINARY_API_KEY=779756674255571
CLOUDINARY_API_SECRET=Tzo9FmvfsQL0eENqRfn-g8q4Apc

# CORS
CORS_ORIGIN=http://localhost:3000

# Admin credentials (para desarrollo)
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=admin123
